body {
  background-color:lightgoldenrodyellow;
  background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210px%22%20height%3D%2220px%22%20viewBox%3D%220%200%208%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cline%20x1%3D%228%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%2216%22%20stroke%3D%22rgba%280%2C0%2C0%2C0.1%29%22%20%2F%3E%3C%2Fsvg%3E');
  background-repeat:repeat;
  color:black;
  font-family:'Bitter',Georgia,serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family:'Changa One',helvetica,arial,sans-serif;
  font-weight:400;
}
body > header {
  padding:1.75rem 1.75rem 3.5rem 1.75rem;
  text-align:center;
}
body > header h1 {
  background:none;
  -webkit-background-clip:none;
  -webkit-text-fill-color:var(--tycolor-fg);
  color:var(--tycolor-fg);
  font-family:'Bitter',Georgia,serif;
  font-weight:400;
  margin-bottom:0.4375rem;
  text-align:center;
}
body > header > nav > ul {
  display:inline-grid;
  grid-gap:0.875rem;
  grid-template-columns:auto auto auto;
  padding:0;
}
body > header > nav > ul li {
  display:block;
  font-family:'Changa',helvetica,arial,sans-serif;
  font-weight:700;
}
body > header > nav > ul li.active a[href] {
  color:var(--tycolor-fg);
  border-bottom:4px var(--tycolor-fg) solid;
}
body > main {
  padding:0 1.75rem;
}
body > main::after {
  background:linear-gradient(120deg,var(--tycolor-link-active), var(--tycolor-link-default));
  border-radius:50%;
  color:white;
  content:"\f672";
  display:block;
  font-family:'Font Awesome 5 Pro';
  font-size:1.25rem;
  line-height:2.8;
  height:3.5rem;
  margin:3.5rem auto 0 auto;
  text-align:center;
  width:3.5rem;
}
body > footer {
  font-style:italic;
  padding:3.5rem 1.75rem 1.75rem;
  text-align:center;
}
.archive {
  display:grid;
  grid-gap:1.75rem;
  grid-template-columns:repeat(auto-fit,minmax(15rem,1fr));
  margin-left:auto;
  margin-right:auto;
  max-width:60rem;
}
.archive article * + * {
  margin-top:0.25rem;
}
.archive article h1.post-title {
  text-align:left;
}
.archive article time {
  font-family:'Changa',helvetica,arial,sans-serif;
  font-weight:700;
}
.archive article .more {
  display:inline-block;
  height:1.75rem;
  overflow:hidden;
  text-indent:-100em;
  vertical-align:bottom;
  width:1rem;
}
.archive article .more::before {
  content:"\f105";
  display:block;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-weight:400;
  text-align:center;
  text-indent:0;
  width:1rem;
}
article.home-post,
article.single-post,
article.single-page {
  margin-left:auto;
  margin-right:auto;
  max-width:40rem;
}
h1.page-title {
  text-align:center;
}
h1.post-title {
  text-align:center;
  background:linear-gradient(45deg,var(--tycolor-link-active), var(--tycolor-link-default));
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
div.post-meta {
  font-family:'Changa',helvetica,arial,sans-serif;
  font-weight:700;
  text-align:center;
}
.dropcap {
  color:var(--tycolor-link-active);
  font-family:'Changa One',helvetica,arial,sans-serif;
  font-weight:400;
}
@media (min-width:640px) {
  body > header {
    align-items:center;
    display:flex;
    justify-content:space-between;
    text-align:left;
  }
  body > header h1 {
    margin-bottom:0;
    text-align:left;
  }
  body > header > nav > ul {
    display:grid;
  }
}