---
title: Previously
layout: base-layout.njk
eleventyNavigation:
  key: Previously
  order: 1
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
<h1 class="page-title">Previously</h1>
<div class="archive tymargins-off">
{% for post in posts %}
  {% if not loop.first %}
    <article>
      <h1 class="post-title tyfont-size-h3"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h1>
      <div><time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></div>
      <p>{{ post.data.excerpt }} <a class="more" href="{{ post.url | url }}">Continue reading</a></p>
    </article>
  {% endif %}
{% endfor %}
</div>