---
title: Previously
layout: base-layout.njk
eleventyNavigation:
  key: Previously
  order: 1
pagination:
  data: collections.postArchive
  size: 20
  reverse: true
  alias: posts
---
<header class="archive-header">
  <h1 class="page-title">Previous Posts</h1>
  <div class="status"> Showing {{ (pagination.pageNumber * pagination.size) + 1 }}—{{ (pagination.pageNumber * pagination.size) + pagination.items.length }} of {{ collections.postArchive.length }}</div>
  <nav class="pagination" aria-labelledby="archive-pagination-top">
    <h2 id="archive-pagination-top" class="visually-hidden">Archive Pages</h2>
    <ul>
      <li>
        {% if page.url != pagination.href.first %}
          <a href="/learned{{ pagination.href.previous }}" title="Previous" class="previous"><span class="picons-regular-angle"></span> <span class="visually-hidden">Previous</span></a>
        {% else %}
          <span class="previous"><span class="picons-regular-angle"></span> <span class="visually-hidden">Previous</span></span>
        {% endif %}
      </li>
    
      {% for pageEntry in pagination.pages %}
        <li>
          <a
            href="/learned{{ pagination.hrefs[ loop.index0 ] }}"
            {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}
          >
            <span class="visually-hidden">Page </span>{{ loop.index }}
          </a>
        </li>
      {% endfor %}
      
      <li>
        {% if page.url != pagination.href.last %}
          <a href="/learned{{ pagination.href.next }}" title="Next" class="next"><span class="picons-regular-angle"></span> <span class="visually-hidden">Next</span></a>
        {% else %}
          <span class="next"><span class="picons-regular-angle"></span> <span class="visually-hidden">Next</span></span>
        {% endif %}
      </li>
    </ul>
  </nav>
</header>

<div class="archive">
{% for post in posts %}
  <article>
    <div class="post-meta">On <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></div>
    <h1 class="post-title tyfont-size-h2"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h1>
    <p>{{ post.data.excerpt }}</p>
  </article>
{% endfor %}
</div>

<footer class="archive-footer">
  <nav class="pagination" aria-labelledby="archive-pagination-bottom">
    <h2 id="archive-pagination-bottom" class="visually-hidden">Archive Pages</h2>
    <ul>
      <li>
        {% if page.url != pagination.href.first %}
          <a href="/learned{{ pagination.href.previous }}" title="Previous" class="previous"><span class="picons-regular-angle"></span> <span class="visually-hidden">Previous</span></a>
        {% else %}
          <span class="previous"><span class="picons-regular-angle"></span> <span class="visually-hidden">Previous</span></span>
        {% endif %}
      </li>
    
      {% for pageEntry in pagination.pages %}
        <li>
          <a
            href="/learned{{ pagination.hrefs[ loop.index0 ] }}"
            {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}
          >
            <span class="visually-hidden">Page </span>{{ loop.index }}
          </a>
        </li>
      {% endfor %}
      
      <li>
        {% if page.url != pagination.href.last %}
          <a href="/learned{{ pagination.href.next }}" title="Next" class="next"><span class="picons-regular-angle"></span> <span class="visually-hidden">Next</span></a>
        {% else %}
          <span class="next"><span class="picons-regular-angle"></span> <span class="visually-hidden">Next</span></span>
        {% endif %}
      </li>
    </ul>
  </nav>
</footer>
