---
title: Recently
layout: home-layout.njk
eleventyNavigation:
  key: Recently
  order: 0
---
{% set post = collections.post | reverse | first %}
<header>
  <div class="post-meta">
    <span class="prefix">What I Learned Recently</span>
  </div>
  <h1 class="post-title">
    {{ post.data.title }}
  </h1>
</header>
{{ post.templateContent | safe }}