---
title: Recently
layout: home-layout.njk
eleventyNavigation:
  key: Recently
  order: 0
---
{% set post = collections.post | reverse | first %}
<article class="home-post">
  <header>
    <div class="post-meta">What I Learned Recently</div>
    <h1 class="post-title">{{ post.data.title }}</h1>
  </header>
  {{ post.templateContent | safe }}
</article>

<hr class="stripes">

{% if collections.post %}
  {% set previousPost = collections.post | getPreviousCollectionItem(post) %}
  {% if previousPost %}
    <ul class="postnav">
      <li class="previous">
        <span class="label">What I Learned Previously</span>
        <span class="post-title"><a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></span>
      </li>
    </ul>
    <hr class="stripes">
  {% endif %}
{% endif %}