---
title: Home
description: "Aaron Pinero is a graphic designer, web developer, and technical lead."
keywords: "design, graphic design, web development, front-end development, web design"
theme: "gray-red"
layout: base.njk
css: "/resources/css/home.css"
eleventyNavigation:
  key: Home
  order: 0
---

<header>
  <h1>
    <span class="preamble">Hello! My name is</span>
    <span class="name">Aaron Pinero</span>
  </h1>
</header>

<section class="intro">
  <p class="description">I am a <strong>graphic designer</strong>, <strong>web developer</strong>, and <strong>technical lead</strong>.</p>
  <p>
    My ❤️ is passionate about good design;<br>
    my 🧠 has a talent for technical challenges.
  </p>
</section>

<section class="recentworks">
  <h1>Recent Works</h1>
  <ul class="work-items">
    {% for work in collections.latestWorks %}
    <li class="{{ work.data.theme}}" style="--logo: url('/resources/images/work/{{ work.data.theme }}/{{ work.data.theme }}-logomark.svg');">
      <div>
        <a href="{{ work.url | url }}">{{ work.data.title }}</a>
        <span class="tags">{{ work.data.skills }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
  <p class="more"><a href="/works">See all works</a></p>
</section>

<section class="recentposts">
  <h1>Recent Posts</h1>
  <div class="allposts">
  {%- for post in collections.latestPosts -%}
    {% if post.data.title %}
      <article class="post article">
        <div class="post-meta">What I Learned On <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></div>
        <h2 class="post-title"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
        <p>{{ post.data.excerpt }}</p>
      </article>
    {% else %}
      <article class="post micro">
        <div class="post-meta"><time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time> – {{ post.data.time }}</div>
        {{ post.content | safe }}
      </article>
    {% endif %}
  {%- endfor -%}
  </div>
  <p class="more"><a href="/posts">See all posts</a></p>
</section>

<script>
  var workitems = document.querySelectorAll('.work-items li');
  workitems.forEach((item) => {
    item.addEventListener('click', function(e){
      e.preventDefault();
      var url = this.querySelector('a').getAttribute('href');
      window.location.href = url;
    });
  });
</script>