---
title: Resume
description: "Resume for Aaron Pinero."
keywords: "design, graphic design, web development, front-end development, web design"
theme: "slate-orange"
mainclass: "resume"
layout: page.njk
eleventyNavigation:
  key: Resume
  order: 2
---
<section id="experience">
  <h2>Experience</h2>
  <dl>
    <dt>Columbia University, 2020–Present</dt>
    <dd>
      <h3>Web Services Manager, Augustus C. Long Health Sciences Library</h3>
      <ul>
        <li><strong>Enhanced the website search experience</strong> by adding results from external sources; wrote a custom Drupal module to integrate with multiple external APIs and provide results to the user without negatively impacting website performance. The enhanced search increases the likelihood of the user receiving a desired result.</li>
        <li><strong>Integrated the Library website contact forms with Zendesk</strong> by creating a custom Drupal module. The new contact system made inquiries easier for users, directed inquiries more reliably to the appropriate staff, and allowed for more useful ticket analytics.</li>
        <li><strong>Improved access to high-use library resources</strong> by integrating the Library website with Google Analytics outbound link reports; created a display of most visited resources that evolves according to current user interests. Users are able to more quickly access needed resources as demonstrated by a decrease in pages per visit and an increase in outbound link events on the Library home page.</li>
        <li><strong>Conceived, designed, and developed an institutional research profile</strong> (bibliography) for Columbia University Irving Medical Center and its constituent academic units and research centers. This was the first successfully launched resource of its kind at the Medical Center. Data for the system was collected using third-party APIs and natural language processing to minimize manual data processing.</li>
        <li><strong>Improved accessibility of the Library websites</strong> through staff education, automated accessibility monitoring, and audits of key website user interface elements by third party experts. Implemented accessibility improvements according to WCAG recommendations.</li>
      </ul>
    </dd>
    <dt>Columbia University, 2013–2020</dt>
    <dd>
      <h3>Director of Web Development, Columbia College IT</h3>
      <ul>
        <li><strong>Organized brand assets and design standards</strong> into a modern brand guideline; developed relationships with other designers and brand managers across the university to insure better institutional brand consistency. This work lead to participation in a university-wide efforts to establish accessibility guidelines and a design system.</li>
        <li><strong>Implemented modern front-end development practices</strong> including responsive design, the use of build tools (e.g., Gulp, Grunt, Sass), and the development of a shared Drupal theme framework. This resulted in a faster development cycle, improved visual consistency across more than a dozen websites, and ensured mobile responsiveness for all websites.</li>
        <li><strong>Led the design and development of multiple websites</strong> providing communication on key initiatives including strategic planning, student wellness, alumni engagement, and global programs. These websites provided tailored web publishing solutions for marketing and administrative staff, facilitating the effective communication of administrative priorities.</li>
        <li><strong>Improved security and long-term maintenance of websites</strong> by migrating from older platforms to Drupal 7. The migrated websites also provided better features for content creators.</li>
      </ul>
    </dd>
  </dl>
</section>
<section id="previous">
  <h2>Prior Experience</h2>
  <dl>
    <dt>Columbia University, 2011–2013</dt>
    <dd>
      <h3>Associate Director, Web Publishing & Design, Columbia College IT</h3>
      <ul>
        <li>Managed multiple concurrent website projects</li>
        <li>Developed and maintained nearly two dozen Drupal websites</li>
        <li>Trained and supported Drupal users</li>
        <li>Mentored student interns</li>
      </ul>
    </dd>
    <dt>webslingerz Inc., 2007–2010</dt>
    <dd>
      <h3>Creative Director</h3>
      <ul>
        <li>Managed digital media design and development projects</li>
        <li>Authored proposals and engaged in new business development</li>
        <li>Provided technical expertise to clients</li>
        <li>Performed web design and front-end development tasks</li>
      </ul>
    </dd>
    <dt>webslingerz Inc., 1998–2006</dt>
    <dd>
      <h3>Media Designer</h3>
      <ul>
        <li>Designed and produced print and interactive media</li>
        <li>Developed custom HTML, JavaScript, CSS, and ActionScript</li>
        <li>Built websites using open-source and custom CMS</li>
        <li>Participated in project planning</li>
      </ul>
    </dd>
  </dl>
</section>
<section id="education">
  <h2>Education</h2>
  <dl>
    <dt>Pratt Institute</dt>
    <dd>
      <h3>Master of Science, Communications Design</h3>
      <p>Awarded for Excellence in Academic Achievement</p>
    </dd>
    <dt>Duke University</dt>
    <dd>
      <h3>Bachelor of Science in Engineering, Biomedical Engineering</h3>
      <p>Graduated cum laude and with departmental honors</p>
    </dd>
  </dl>
</section>
<section id="skills">
  <h2>Skills</h2>
  <ul>
    <li>Web/Front-End Development</li>
    <li>Graphic Design</li>
    <li>Branding & Identity</li>
    <li>UI/UX Design</li>
    <li>Design System Development</li>
    <li>Drupal Site Building</li>
    <li>Drupal Theme Development</li>
    <li>Drupal Module Development</li>
    <li>Project Management</li>
  </ul>
</section>