---
title: Works
description: "Work by Aaron Pinero."
keywords: "design, graphic design, web development, front-end development, web design"
theme: "slate-orange"
layout: page.njk
eleventyNavigation:
  key: Works
  order: 1
---
<ul class="work-items">
  {% for work in collections.work %}
  <li class="{{ work.data.theme}}">
    <div>
      <a href="{{ work.url | url }}">{{ work.data.title }}</a>
      <span class="tags">{{ work.data.skills }}</span>
    </div>
  </li>
  {% endfor %}
</ul>

