---
title: Works
description: "Work by Aaron Pinero."
keywords: "design, graphic design, web development, front-end development, web design"
theme: "slate-orange"
layout: page.njk
css: "/resources/css/works.css"
eleventyNavigation:
  key: Works
  order: 1
---
<ul class="work-items">
  {% for work in collections.sortedWorks %}
  <li class="{{ work.data.theme}}">
    <div>
      <a href="{{ work.url | url }}">{{ work.data.title }}</a>
      <span class="tags">{{ work.data.skills }}</span>
    </div>
  </li>
  {% endfor %}
</ul>
<script>
  var workitems = document.querySelectorAll('.work-items li');
  workitems.forEach((item) => {
    item.addEventListener('click', function(e){
      e.preventDefault();
      var url = this.querySelector('a').getAttribute('href');
      window.location.href = url;
    });
  });
</script>