<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/fonts/leaguegothic.css' | url }}">
    <link rel="stylesheet" href="{{ '/fonts/picons-regular.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/normalize.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/blog.css' | url }}">
    <title>What I Learned… {{ title }}</title> 
  </head> 
  <body> 
    <header class="blog-header">
      <h1>What I Learned…</h1>
      <nav>
        {% set navPages = collections.all | eleventyNavigation %}
        <ul>
        {%- for entry in navPages %}
          <li{% if entry.url == page.url %} class="active"{% endif %}>
            <a href="{{ entry.url | url }}" class="tyfont-size-h4">{{ entry.title }}</a>
          </li>
        {%- endfor %}
        </ul>
      </nav>
    </header> 
    <main> 
      {{ content | safe }}
    </main> 
    <footer>
      <div>Written by <a href="http://aaronpinero.com">Aaron Pinero</a>. Subscribe via <a href="rss.xml">RSS</a>.<br>Built using what I learned about <a href="https://www.11ty.dev">Eleventy</a>.</div>
    </footer> 
  </body> 
</html>