<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&family=Changa+One:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/tyfy.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/blog.css' | url }}">
    <title>What I Learned... {{ title }}</title> 
  </head> 
  <body class="tymargins-skip"> 
    <header>
      <h1>What I Learned...</h1>
      <nav>
        <ul>
          <li><a href="/">Recently</a></li>
          <li><a href="/archive">Previously</a></li>
          <li><a href="/about">About Blogging</a></li>
        </ul>
      </nav>
    </header> 
    <main> 
      {{ content | safe }}
    </main> 
    <footer>Site Footer</footer> 
  </body> 
</html>