---
layout: base.njk
---
      <header class="page-header">
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="/index.html">Aaron Pinero</a>
            </li>
          </ul>
        </div>
        <h1>{{ title }}</h1>
      </header>
      {{ content | safe }}
