---
layout: base-layout.njk
---
<article class="single-post">
  <header>
    <div class="post-meta">What I Learned On <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time></div>
    <h1 class="post-title">{{ title }}</h1> 
  </header>
  {{ content | safe }}
</article>