---
layout: base.njk
theme: "green-pink"
---
      <header class="post-header">
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="/">Aaron Pinero</a>
            </li>
            <li>
              <a href="/posts">Posts</a>
            </li>
          </ul>
        </div>
        <h1>{{ title }}</h1>
        <div class="post-meta">What I Learned On <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time></div>
      </header>
      
      {{ content | safe }}

      <hr class="stripes">

      {% if collections.article %}
        {% set previousPost = collections.article | getPreviousCollectionItem %}
        {% set nextPost = collections.article | getNextCollectionItem %}
        {% if nextPost or previousPost %}
          <ul class="postnav">
            {% if previousPost %}
              <li class="previous">
                <span class="label">What I Learned Previously</span>
                <span class="post-title"><a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></span>
              </li>
            {% endif %}
            {% if nextPost %}
              <li class="next">
                <span class="label">What I Learned Next</span>
                <span class="post-title"><a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></span>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      {% endif %}