---
layout: base.njk
---
<header class="post-header">
  <div class="breadcrumb">
    <ul>
      <li>
        <a href="/">Aaron Pinero</a>
      </li>
      <li>
        <a href="/posts">Works</a>
      </li>
    </ul>
  </div>
  <h1>{{ title }}</h1>
  <div class="skills">{{ skills }}</time></div>
</header>

{{ content | safe }}
