#main > header {
  padding-bottom: 0rem;
  h1 {
    span {
      display: block;
    }
    span.preamble {
      font-size: 1.5rem;
    }
    span.name {
      font-size: clamp(4rem, calc(1.47rem + 12.63vw), 10rem);
      view-transition-name: main-breadcrumb;
    }
  }
}
section.intro {
  text-align: center;
  font-size: 1rem;
  .description {
    font-size: clamp(1.25rem, calc(0.93rem + 1.58vw), 2rem);
    margin-block-end: 2rem;
    margin-block-start: 1rem;
    margin-inline: auto;
    max-width: 28ch;
    strong {
      white-space: nowrap;
    }
  }
}
section {
  margin-inline: auto;
  max-width: 90rem;
  h1 {
    color: var(--color-fg-max);
    font-family: var(--font-head);
    font-size: clamp(3rem, calc(2.16rem + 4.21vw), 5rem);
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
    text-align: center; 
    text-transform: uppercase;
    z-index: 1;
  }
}
section + section {
  &::before {
    background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
    background-repeat: repeat;
    background-size: 8px 8px;
    content: "";
    display: block;
    height: 2rem;
    margin-bottom: 6rem;
    margin-top: 6rem;
    width: 100%;
  }
}
.work-items {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(max(min(100%,35ch),40vw), 1fr));
  list-style: none;
  margin: 4rem auto;
  max-width: 90rem;
  padding: 0;
  li {
    background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
    background-size: 8px 8px;
    background-position: top 0% left 0%;
    background-repeat: repeat;
    container-name: item;
    container-type: inline-size;
    cursor: pointer;
    overflow: hidden;
    padding: 2rem;
    position: relative;
  }
  li + li {
    margin-top: 0px;
  }
  li div {
    aspect-ratio: 3 / 3;
    @container item (min-width: 25ch) {
      aspect-ratio: 4 / 3;
    }
    @container item (min-width: 35ch) {
      aspect-ratio: 5 / 3;
    }
    background-color: var(--color-bg);
    box-sizing: border-box;
    overflow: hidden;
    padding: 2rem;
    place-content: center;
    position: relative;
    text-align: center;
  }
  li div::before {
    --banner-mix-mode: lighten;
    background-image: var(--logo);
    background-size: auto 220%;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    left: 0px;
    mix-blend-mode: var(--banner-mix-mode);
    opacity: var(--banner-opacity);
    position: absolute;
    top: 0px;
    transition: background-size 0.33s ease-in-out, background-position 0.33s ease-in-out;
    width: 100%;
    z-index: 1;
  }
  li div::after {
    background-image: repeating-linear-gradient(45deg, var(--color-bg-pattern) 0px, var(--color-bg-pattern) 2px, transparent 0px, transparent 50%);
    background-size: 8px 8px;
    background-position: top 0% left 0%;
    background-repeat: repeat;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
  }
  li::after {
    background-color: var(--color-link-hover);
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: soft-light;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transform: translateX(-50%) rotate(-45deg) scaleX(2) scaleY(0);
    transform-origin: top center;
    transition: transform 0.33s ease-in-out;
    width: 100%;
    z-index: 0;
  }
  li:hover::after {
    transform: translateX(-50%) rotate(-45deg) scaleX(2) scaleY(2);
  }
  li:hover div::before {
    background-size: auto 200%;
  }
  li:hover a {
    color: var(--color-link-hover);
  }
  li:hover span {
    color: var(--color-fg-max);
  }
  li a,
  li span {
    display: block;
    position: relative;
    z-index: 2;
  }
  li a {
    font-family: var(--font-head);
    font-size: 2rem;
    @container item (min-width: 40ch) {
      font-size: 3rem;
    }
    letter-spacing: 0.01em;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none !important;
  }
  li span {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 0.5rem;
    transition: color 0.25s;
  }
} 

p.more {
  font-family: var(--font-head);
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
}
