@import "normalize.css" layer(normalize);
@import "../fonts/league/stylesheet.css" layer(fonts);
@import "../fonts/ibm-plex-sans/css/ibm-plex-sans-default.min.css" layer(fonts);
@import "../fonts/fontawesome/css/all.min.css" layer(fonts);
@import "../fonts/picons/picons-regular.css" layer(fonts);
@view-transition {
  navigation: auto;
}
::view-transition-group(*) {
  animation-duration: 0.33s;
  animation-timing-function: ease;
}

/*
 * THEME
 */

body {
  --color-backdrop: oklch(from var(--color-bg) l c h / 0.9);
  --color-bg-pattern: oklch(from var(--color-bg) calc(l - 0.05) c h);
  --color-fg-pattern: oklch(from var(--color-fg-max) l c h / 0.33);
  --color-text-body: color-mix(in oklch, var(--color-bg), var(--color-fg-max) 75%);
  --color-text-mute: color-mix(in oklch, var(--color-bg), var(--color-fg-max) 55%);
  --color-link: var(--color-fg);
  --color-link-decoration: oklch(from var(--color-fg) l c h / 0.5);
  --color-link-hover: color-mix(in oklch, var(--color-fg), var(--color-fg-max) 40%);
  --color-link-decoration-hover: color-mix(in oklch, var(--color-fg), var(--color-fg-max) 40%);
  --font-body: "IBM Plex Sans", Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  --font-head: "League Gothic";
  --banner-mix-mode: multiply;
  --banner-opacity: 0.2;
  --max-content-width: 50rem;
}
body:has(#color-mode-switch:checked) {
  --banner-mix-mode: soft-light;
  --banner-opacity: 0.15;
}

body.slate-orange {
  --color-bg: oklch(0.40 0.03 255);
  --color-fg: oklch(0.79 0.18 65);
  --color-fg-max: oklch(0.95 0.02 255);
}
body.slate-orange:has(#color-mode-switch:checked),
body.slate-orange.color-mode-light {
  --color-bg: oklch(0.88 0 65);
  --color-fg: oklch(0.46 0.12 255);
  --color-fg-max: oklch(0.28 0.06 65);
}

body.brown-blue {
  --color-bg: oklch(0.32 0.01 100);
  --color-fg: oklch(0.71 0.1 220);
  --color-fg-max: oklch(0.97 0.02 100);
}
body.brown-blue:has(#color-mode-switch:checked),
body.brown-blue.color-mode-light {
  --color-bg: oklch(0.88 0 100);
  --color-fg: oklch(0.47 0.15 220);
  --color-fg-max: oklch(0.28 0.06 100);
}

body.purple-green {
  --color-bg: oklch(0.29 0.06 285);
  --color-fg: oklch(0.7 0.14 158);
  --color-fg-max: oklch(0.91 0.045 285);
}
body.purple-green:has(#color-mode-switch:checked),
body.purple-green.color-mode-light {
  --color-bg: oklch(0.88 0 158);
  --color-fg: oklch(0.43 0.19 285);
  --color-fg-max: oklch(0.29 0.05 158);
}

body.gray-red {
  --color-bg: oklch(0.3 0.01 220);
  --color-fg: oklch(0.7 0.21 10);
  --color-fg-max: oklch(0.9 0.01 220);
}
body.gray-red:has(#color-mode-switch:checked),
body.gray-red.color-mode-light {
  --color-bg: oklch(0.88 0 220);
  --color-fg: oklch(0.48 0.19 10);
  --color-fg-max: oklch(0.29 0.05 220);
}

body {
  background-color: var(--color-bg);
  background-image: repeating-linear-gradient(-45deg, var(--color-bg-pattern) 0px, var(--color-bg-pattern) 1px, transparent 0px, transparent 50%);
  background-repeat: repeat;
  background-size: 8px 8px;
  color: var(--color-text-body);
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px;
  padding: clamp(1rem, calc(4.21vw + 2.5px), 3rem);
  transition: background-color 0.25s, color 0.25s;
}

/*
 * BASICS
 */
 
a[href] {
  color: var(--color-link);
  text-decoration-color: var(--color-link-decoration);
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: all;
  text-decoration-style: solid;
  text-decoration-thickness: 0.1em;
  transition: color 0.25s ease-in-out, text-decoration-color 0.25s ease-in-out, text-decoration-thickness 0.25s ease-in-out;
  &:hover {
    color: var(--color-link-hover);
    text-decoration-color: var(--color-link-decoration-hover);
    text-decoration-thickness: 0.15em;
  }
  [class^="fa-"] {
    margin-right: 0.2em;
  }
}
strong {
  font-weight: 700;
}
h2 {
  color: var(--color-fg-max);
  font-family: var(--font-head);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.125;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.875rem;
  line-height: 1.125;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.125;
  margin-bottom: 0.5em;
}
blockquote {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 0;
  margin-right: 0;
  &::before,
  &::after {
    background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
    background-repeat: repeat;
    background-size: 8px 8px;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 0.5rem;
  }
  &::before {
    left: 0px;
  }
  &::after {
    right: 0px;
  }
}
.small {
  font-size: 1rem;
}
.no-break {
  white-space: nowrap;
}
.dropcap {
  display:inline-block;
  float:left;
  font-size:400%;
  font-weight:bold;
  line-height:100%;
  margin:0 0.25em 0 0.125em;
  text-align:center;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px !important;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px !important;
  &.focusable:active,
  &.focusable:focus {
    clip: autoauto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
hr {
  border: none;
  border-top: var(--color-fg-pattern) solid 1px;
  margin: 3rem auto;
}
hr.stripes {
  background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
  background-repeat: repeat;
  background-size: 8px 8px;
  border: none;
  height: 8px;
  margin: 3rem auto;
  max-width: var(--max-content-width);
}
#main {
  & > :is(h2,p,ul,ol,hr,blockquote,pre),
  iframe {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-content-width);
  }
  & > ul li + li {
    margin-top: 0.5rem;
  }
}

/*
 * HEADER AND FOOTER
 */

header#header,
footer#footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  ul {
    all: unset;
    font-family: var(--font-head);
    letter-spacing: 0.01em;
    line-height: 1;
    text-transform: uppercase;
  }
  li {
    display: block;
  }
  a[href] {
    --color-link-decoration: transparent;
  }
}
header#header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  &::after {
    background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
    background-repeat: repeat;
    background-size: 8px 8px;
    content: "";
    display: block;
    height: 2rem;
    margin-top: 2rem;
    width: 100%;
  }
  .logo {
    background-color: var(--color-text-body);
    mask-image: url(../images/logo.svg);
    mask-size: cover;
    height: 2rem;
    margin: 0;
    text-indent: 2rem;
    width: 2rem;
  }
}
footer#footer {
  color: var(--color-text-mute);
  display: grid;
  grid-column-gap: clamp(1rem, calc(4.21vw + 2.5px), 3rem);
  grid-row-gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  line-height: 1.25;
  padding-top: 4rem;
  @media (max-width: 799px) {
    text-align:center;
  }
  &::before {
    background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
    background-repeat: repeat;
    background-size: 8px 8px;
    content: "";
    display: block;
    grid-column-start: 1;
    grid-column-end: span 12;
    height: 2rem;
  }
  & > div {
    grid-column: 1 / 13;
    @media (min-width: 800px) {
      grid-column: 1 / 9;
    }
  }
  p {
    margin-bottom: 0px;
    margin-top: 0px;
    &:not(.copyright) {
      max-width: 18em;
      @media (max-width:799px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  p + p {
    margin-top: 1rem;
  }
  strong {
    color: var(--color-text-body);
  }
  ul {
    align-self: start;
    display: grid;
    font-size: clamp(1.25rem, calc(1.04rem + 1.05vw), 1.75rem);
    grid-template-columns: auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-column: 1 / 13;
    justify-self: center;
    @media (min-width: 480px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 800px) {
      justify-self: end;
      grid-column: 9 / 13;
      grid-template-columns: auto auto;
    }
  }
}

/*
 * MAIN MENU
 */

#mainmenubtn,
#mainmenuclose {
  @media (min-width: 576px) {
    display: none;
  } 
}
#mainmenubtn {
  background-color: transparent;
  border: none;
  color: var(--color-link);
  cursor: pointer;
  font-family: var(--font-head);
  font-size: 1.75rem;
  height: 1.75rem;
  letter-spacing: 0.01em;
  line-height: 1;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  transition: color 0.25s, background-color 0.25s;
  text-decoration-color: transparent;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: all;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  transition: color 0.25s ease-in-out, text-decoration-color 0.25s ease-in-out, text-decoration-thickness 0.25s ease-in-out;
  &:hover {
    color: var(--color-link-hover);
    text-decoration-color: var(--color-link-decoration-hover);
    text-decoration-thickness: 2px;
  }
  [class^="picons-"] {
    font-size: 75%;
    display: inline-block;
    margin-inline: 0.25em;
  }
}
#mainmenuclose {
  background-color: transparent;
  border: none;
  color: var(--color-link);
  cursor: pointer;
  font-size: 2rem;
  height: 3rem;
  line-height: 3rem;
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: clamp(1rem, calc(4.21vw + 2.5px), 3rem);
  text-align: center;
  top: clamp(1rem, calc(4.21vw + 2.5px), 3rem);
  transition: color 0.25s, background-color 0.25s;
  width: 3rem;
  z-index: 3;
  &:hover {
    background-color: var(--color-link-hover);
    color: var(--color-bg);
  }
  [class^="picons-"] {
    font-size: 75%;
    display: inline-block;
  }
}
#mainmenu {
  background-color: var(--color-bg);
  border: none;
  bottom: 0px;
  box-sizing: border-box;
  height: auto;
  left: 0px;
  margin: clamp(1rem, calc(4.21vw + 2.5px), 3rem);
  max-height: 100%;
  max-width: 100%;
  padding: clamp(1rem, calc(4.21vw + 2.5px), 3rem);
  right: 0px;
  top: 0px;
  transform: translateY(-20px);
  width: auto;
  &, &::backdrop {
    transition:
      display 0.5s allow-discrete,
      overlay 0.5s allow-discrete,
      opacity 0.5s ease,
      transform 0.5s ease;
    opacity: 0;
  }
  &[open] {
    opacity: 1;
    transform: translateY(0px);
    &::backdrop {
      opacity: 1;
    }
  }
  @starting-style {
    &[open],
    &[open]::backdrop {
      opacity: 0;
    }
    &[open] {
      transform: translateY(20px);
    }
  }
  
  &::backdrop {
    background-color: var(--color-backdrop);
    background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
    background-repeat: repeat;
    background-size: 8px 8px;
  }
  @media (min-width: 576px) {
    all: unset;
  }
  
  nav ul {
    font-size: 3rem;
    @media (min-width: 576px) {
      display: flex;
      column-gap: 2rem;
      font-size: 1.75rem;
    }
    li {
      @media (max-width: 575px) {
        margin-top: 1rem;
      }
    }
    li.active a[href] {
      --color-link: var(--color-fg-max);
      --color-link-decoration: oklch(from var(--color-fg-max) l c h / 0.5);
    }
  }
}

/*
 * COLOR MODE TOGGLE
 */

#color-mode-switch{
  height: 0px;
  width: 0px;
  position: absolute;
  visibility: hidden;
}
#color-mode-switch + label {
  background: var(--color-bg-pattern);
  border-radius: 1.5rem;
  box-shadow: 0px 0px 2px oklch(from black l c h / 0.5) inset;
  cursor: pointer;
  display: block;
  height: 1.75rem;
  position: relative;
  text-indent: -9999px;
  width: 3rem;
}
#color-mode-switch + label::after {
  background: var(--color-fg);
  color: var(--color-bg);
  content: '\f186';
  font-family: var(--fa-style-family-classic);
  font-size: 1rem;
  font-weight: 400;
  left: 0.125rem;
  line-height: 1.5rem;
  position: absolute;
  top: 0.125rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  text-indent: 0;
  transition: 0.3s;
}
#color-mode-switch + label:hover::after {
  background: var(--color-link-hover);
}
#color-mode-switch:checked + label {
  box-shadow: 0px 0px 2px oklch(from black l c h / 0.2) inset;
}
#color-mode-switch:checked + label::after {
  content: '\e0c9';
  left: calc(100% - 1.625rem);
}

/*
 * CONTENT HEADER AND BREADCRUMB
 */

#main > header {
  &.page-header {
    display: flex;
    justify-content: center;
  }
  margin: 0px;
  padding-bottom: 4rem;
  padding-top: 4rem;
  text-align: center;
  .breadcrumb {
    --color-link: var(--color-text-mute);
    --color-link-decoration: transparent;
    color: var(--color-text-mute);
    font-family: var(--font-head);
    font-size: clamp(4rem, calc(3.58rem + 2.1vw), 5rem);
    letter-spacing: 0.01em;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    view-transition-name: main-breadcrumb;
    z-index: 1;
    ul {
      all: unset;
      display: flex;
      justify-content: center;
    }
    ul::after {
      @media (min-width: 640px) {
        content:"/"
      }
    }
    li {
      all: unset;
      display: flex;
    }
    @media (max-width: 639px) {
      li:first-child {
        display: none;
      }
    }
    @media (min-width: 640px) {
      li + li::before {
        content: "/";
      }
    }
  }  
  h1 {
    color: var(--color-fg-max);
    font-family: var(--font-head);
    font-size: clamp(4rem, calc(3.58rem + 2.1vw), 5rem);
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
  }
  p {
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
  }
}

/*
 * ALL POSTS
 */

.status {
  color: var(--color-text-mute);
  font-family: var(--font-head);
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
}
.pagination {
  margin: 0 auto;
  text-align: center;
  ul {
    column-gap: 1rem;
    display: inline-flex;
    font-family: var(--font-head);
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 auto;
    padding: 0;
    li {
      display: block;
      a[href] {
        --color-link-decoration: transparent;
        --color-link-decoration-hover: transparent;
      }
      a[href][aria-current] {
        --color-link: var(--color-fg-max);
      }
      .previous .picons-regular-angle {
        display: inline-block;
        transform: rotateY(180deg);
      }
    }
  }
}
.allposts {
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 45rem;
  text-wrap: pretty;
  article {
    h2, p, .post-meta {
      margin: 0px;
      position: relative;
      z-index: 2;
    }
    p + p {
      margin-top: 0.5rem;
    }
    h2 {
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }
  }
  article + article {
    margin-top: 4rem;
  }
  article.article {
    background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
    background-size: 8px 8px;
    background-repeat: repeat;
    border-radius: 4px;
    padding: 4rem;
    position: relative;
    text-align: center;
    &::before {
      background-color: var(--color-bg);
      bottom: 2rem;
      content: "";
      display: block;
      left: 2rem;
      position: absolute;
      right: 2rem;
      top: 2rem;
    }
    .post-meta {
      font-family: var(--font-head);
      font-size: 1.5rem;
      letter-spacing: 0.01em;
      line-height: 1;
      text-transform: uppercase;
    }
    .post-title {
      margin-block: 0.25rem;
    }
  }
  article.micro {
    .post-meta {
      color: var(--color-text-mute);
      font-size: 1rem;
    }
  }
  article.micro + article.micro {
    margin-top: 0px;
    &::before {
      background-image: repeating-linear-gradient(45deg, var(--color-fg-pattern) 0px, var(--color-fg-pattern) 1px, transparent 0px, transparent 50%);
      background-repeat: repeat;
      background-size: 8px 8px;
      border-radius: 4px;
      content: "";
      display: block;
      height: 0.5rem;
      margin: 2rem auto;
      width: 50%;
    }
  }
}

/*
 * POSTS
 */

#main > header.post-header {
  .post-meta {
    font-size: 1rem;
    font-weight: bold;
    view-transition-name: postmeta;
  }
  h1 {
    font-size: clamp(3rem, calc(2.58rem + 2.1vw), 4rem);
    view-transition-name: posttitle;
  }
}
.postnav {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
  font-family: var(--font-head);
  margin: 2rem auto 0 auto;
  max-width: var(--max-content-width);
  padding: 0;
  text-transform: uppercase;
  .next,
  .previous {
    display: block;
    margin: 0px !important;
    text-align: center;
    .label {
      color: hsl(var(--color-primary-hue), var(--color-primary-sat-low), 40%);
      display: block;
      font-size: 1.5rem;
      font-style: italic;
    }
    .post-title {
      font-size: 2rem;
      line-height: 1.1;
    }
  }
}
