/*
 * WORKS
 */
#main > .work-items {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(max(min(100%,360px),40vw), 1fr));
  list-style: none;
  margin: 0 auto;
  max-width: 90rem;
  padding: 0;
}
#main > .work-items li {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
#main > .work-items li + li {
  margin-top: 0px;
}
#main > .work-items li div {
  aspect-ratio: 4 / 3;
  @media (min-width: 960px) {
    aspect-ratio: 5 / 3;
  }
  cursor: pointer;
  padding: 1rem;
  place-content: center;
  position: relative;
  text-align: center;
}
#main > .work-items li div::before {
  --banner-opacity: 0.2;
  background-size: 150%;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  height: 100%;
  left: 0px;
  mix-blend-mode: var(--banner-mix-mode);
  opacity: var(--banner-opacity);
  position: absolute;
  top: 0px;
  transition: background-size 0.33s ease-in-out, background-position 0.33s ease-in-out;
  width: 100%;
  z-index: -1;
}
#main > .work-items li.jha div::before {
  background-image: url('../../work/jha/jha-logomark.svg');
}
#main > .work-items li.owl div::before {
  background-image: url('../../work/owl/owl-logomark.svg');
}
#main > .work-items li.hsl div::before {
  background-image: url('../../work/hsl/hsl-logo.svg');
  background-position: bottom 25% right 27%;
  background-size: auto 300%;
}
#main > .work-items li.pub div::before {
  background-image: url('../../work/hsl/hsl-logo.svg');
  background-position: top 30% left 10%;
  background-size: auto 400%;
}
#main > .work-items li div::after {
  --color-item-pattern: var(--color-bg);
  background-image: repeating-linear-gradient(45deg, var(--color-item-pattern) 0px, var(--color-item-pattern) 2px, transparent 0px, transparent 50%);
  background-size: 8px 8px;
  background-position: top 0% left 0%;
  background-repeat: repeat;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}
#main > .work-items li::after {
  background-color: var(--color-fg);
  content: "";
  height: 100%;
  left: 0;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  transform: translateX(-50%) rotate(-45deg) scaleX(2) scaleY(0);
  transform-origin: top center;
  transition: transform 0.33s ease-in-out;
  width: 100%;
  z-index: 0;
}
#main > .work-items li:hover::after {
  transform: translateX(-50%) rotate(-45deg) scaleX(2) scaleY(2);
}
#main > .work-items li:hover div::before {
  background-size: 133%;
}
#main > .work-items li.hsl:hover div::before {
  background-position: bottom 24.5% right 26.5%;
  background-size: auto 266%;
}
#main > .work-items li.pub:hover div::before {
  background-position: top 30% left 9%;
  background-size: auto 333%;
}
#main > .work-items li:hover a {
  color: var(--color-link-hover);
}
#main > .work-items li a,
#main > .work-items li span {
  display: block;
  position: relative;
  z-index: 2;
}
#main > .work-items li a {
  font-family: var(--font-head);
  font-size: clamp(2.25rem, calc(1.87rem + 1.88vw), 3rem);
  letter-spacing: 0.01em;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none !important;
}
#main > .work-items li span {
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 0.5rem;
}